
<%= form_for @recipe do |f| %>
  <%= render 'shared/errors', object: @recipe %>

  <div class="form-body">

    <span class="label">Select a chapter:</span>
      <%= f.collection_select :chapter_id, Chapter.all, :id, :title %><br />
    <br>
      <%= f.text_field :name, placeholder: "Name of your Recipe", class: "form-control" %>
      <%= f.label :Choose_Image_to_Upload, class: 'label' %>
      <%= f.file_field :image, placeholder: "choose image file", class: "form-control" %>
    <br>
      <%= f.text_field :level, placeholder: "Skill Level", class: "form-control" %><br/>
      <%= f.text_field :serve, placeholder: "How many the recipe serves", class: "form-control" %><br/>
  
  </div>    

  <div class="row">
    <div class="col-md-5 recipe-form-bottom">
      <h3>Ingredients:</h3>
      <div id="ingredients">
          <%= f.fields_for :ingredients do |ingredient| %>
            <%= render 'ingredient_fields', f: ingredient %>
          <% end %>
            <div class="links">
              <%= link_to_add_association 'add ingredient', f, :ingredients, class: "btn btn-ingredients" %>
            </div>
          </div><!-- ingredients -->
        </div><!-- col-md-5 -->

    <div class="col-md-5 recipe-form-bottom">
      <h3>Directions:</h3>
      <div id="directions">
        <%= f.fields_for :directions do |direction| %>
          <%= render 'direction_fields', f: direction %>
        <% end %>
          <div class="links">
            <%= link_to_add_association 'add step', f, :directions, class: "btn btn-ingredients" %>
          </div>
      </div>
    </div>

  </div><!-- row -->
  <div class="actions">
    <%= f.submit class: "button create-recipe" %>
  </div>
<% end %>
