
<%= form_for @recipe do |f| %>
  <%= render 'shared/errors', object: @recipe %>

    Select a chapter:
      <%= f.collection_select :chapter_id, Chapter.all, :id, :title %><br />
    <br>
    <div class="field">
      <%= f.label :name_of_your_recipe, class: "subtitle" %>
      <%= f.text_field :name, class: "input" %>
    </div><br/>

    <div class="field">
      <%= f.label :image, class: 'subtitle' %>
      <%= f.file_field :image %>
    </div><br/>

    <div class="field">
      <%= f.label :level, class: "subtitle" %>
      <%= f.text_field :level, class: "input" %><br/>
    </div>
    

    <div class="field">
      <%= f.label :serves, class: "subtitle" %>
      <%= f.text_field :serve, class: "input" %><br/>
    </div>

    <div class="field">
      <%= f.fields_for :ingredients do |i| %>
      
        <%= i.text_area :name, class: "text-field", placeholder: "write out your ingredients" %>

        <%= i.fields_for :recipe_details do |r| %>
          <%= r.text_area :instruction, class: "text-field", placeholder: "Write your instructions here" %>
        <% end %>
      <% end %>  

      <br>  
  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
