<main class="main-area">
  <div class="container">
    <h1 class="title chapters-title"><%= @chapter.title %></h1>
    <div class="button add-recipe"><%= link_to "New Recipe", new_chapter_recipe_path %></div>
    <div class="button back"><%= link_to "Back", chapters_path %>
  </div>
  <div class="centered">
    <section class="cards">
    <% @recipes.each do |recipe| %>
      <article class="card">
        <picture class="thumbnail">
          <% if recipe.image.attached? %>
            <%= image_tag recipe.thumbnail, class: "image" %>
          <% end %>
        </picture>
        <div class="card-content">
          <h2 class="title-index"><%= link_to recipe.name, recipe_path(recipe) %></h2>
          <button id="add-description" class="recipe-button">Description</button>
          <p><%= recipe.level %> | <%= recipe.serve %></p>
        </div><!-- card-content -->
      </article><!-- card -->
      <% end %>
    </section><!-- cards -->
  </div><!-- centered -->
</main>
