<div class="recipe-container">
  <h2 class="recipe-title"><%= @recipe.name %></h2>
  <p class="recipe-information">
    <span class="recipe-serves">Serves: <%= @recipe.serve %> | Skill Level: <%= @recipe.level %></span>
  </p>

  <div class="row">
    <div class="column hero-wrapper">
      <%= image_tag @recipe.thumbnail, class: "show-image" %>
    </div>

    <div class="column ingredients">
      <h4 class="ingredient-title">Ingredients: </h4>
      <% @recipe.ingredients.each do |ingredient| %>
        <ul class="ingredients-list">
          <li class="ingredient-name"> - <%= ingredient.name %></li>
        </ul>
      <% end %>
    </div>
  </div><!-- row -->

  <div class="directions">
    <h4 class="direction-title">Directions: <h4>
    <% @recipe.directions.each do |direction| %>
      <ul class="direction-list">
        <li class="direction-method"><%= direction.method %></li>
      </ul>
    <% end %>
  </div><!-- directions -->


    <div class="reviews-here">
      <div id="reviews">
        <%= render @reviews, class: 'hide', data: { 'js-hide-link' => true } %>
      </div>
      
      <%= link_to 'Add Review', "#", class: "hide btn-review", id: "review-form", data: { 'js-hide-link' => true } %><br>

    <section id="reviews-section", class="hide", data="js-hide-link">
      
        <div class="review-form">
          <%= form_for [@recipe, @recipe.reviews.new] do |f| %>
        <div class="field">
          <%= f.text_field :review_owner, placeholder: "Reviewer", class: 'form-control' %><br>
        </div>
        <div class="field">
          <%= f.number_field :rating, placeholder: 'rating 1-5', class: 'form-control' %>
        </div><br>
        <div class="field">
          <%= f.text_area :content, rows: 2, cols: 60, placeholder: 'Write a review...', class: 'form-control' %>
        </div><br>
        <div class="actions">
          <%= f.submit class: 'reviews-button' %>
        </div>
      <% end %>
      </div>
    </section>
  </div>

  <div class="links-to-recipes">
    <%= link_to 'Edit', edit_recipe_path, class: "btn btn-edit" %> |
    <%= link_to 'Delete', recipe_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-delete" %>
  </div>
</div><!-- recipe-container -->         