<section class="section">
  <div class="container">
      <h2 class="title dinner-title"><%= @chapter.title %></h2><br/>
        
  </div>
  <div class="container">
  <% @chapter.recipes.each do |recipe| %>
    <h3 class="title recipe-title"><%= recipe.name %></h3>
      <p class="subtitle recipe-subtitle">Level: <%= recipe.level %> | Serves: <%= recipe.serve %></p>
  </div>
  <div class="hero flex-center">  
    <div class="hero-message">
      <%= image_tag recipe.image, class: "show-image" %>
    </div>
  </div>
  <% end %>
  <div class="not-hero flex-center bg-info">
    <div class="not-hero-message">
      
    </div>
      <div class="container">

        <p class="subtitle ingredients-subtitle"><strong>Ingredients:</strong></p>
            
        <ul>
        <% @recipe.recipe_details.each do |recipe_detail| %>
          <li class="ingredient-list"><%= recipe_detail.ingredient.quantity %> - <%= recipe_detail.ingredient.name %></li>
        </ul>
          <h3 class="subtitle">Directions: </h3>
          <p class="subtitle">
            <%= recipe_detail.instruction %>
          </p>
          <% end %>
      </div>

      <div class="level">
        <%= link_to 'Edit', edit_recipe_path(@recipe) %> 
      </div>
    </div>
</section>
