<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "Family Bytes", root_path, class: "navbar-item" %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">      
  <% if logged_in? %>
    <div class="navbar-end">
      <div class="navbar-item">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-item">Recipes</a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            <%= link_to "New Chapter", new_chapter_path, class: "navbar-item" %>
          </a>
          <a class="navbar-item">
            <%= link_to "New Recipe", new_recipe_path, class: "navbar-item" %>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            <%= current_user.first_name %>
          </a>
          <a class="navbar-item">
            <%= link_to "Settings", edit_user_path(current_user), class: "navbar-item" %>
          </a>
          <a class="navbar-item">
            <%= link_to 'Logout', logout_path, class: "navbar-item" %>
          </a>
            
        </div>
      </div>
    </div>
    <div class="navbar-item">
    Search Recipes:
      <%= form_tag(recipes_search_path, method: :get) do %>
        <%= text_field_tag :keyword, params[:keyword], class: "search-field" %>
        <%= submit_tag 'Search', name: nil, class: "search-button" %>
      <% end %>
    </div>
    <div class="navbar-item">
    </div>
    <% else %>
    <div class="navbar-end">
      <div class="navbar-item">
        <%= link_to 'Sign Up', signup_path, class: "navbar-item" %>
        <%= link_to 'Login', login_path, class: "navbar-item" %>
      </div>
      </div>
      <% end %>
    </div>
  </div>
  </div>
</nav>