<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "Family Bytes", root_path, class: "navbar-item" %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">      
  <% if user_signed_in? %>
    <div class="navbar-end">
      <div class="navbar-item">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-item">Recipes</a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            <%= link_to "New Chapter", new_chapter_path, class: "navbar-item" %>
          </a>
          <a class="navbar-item">
            <%= link_to "New Recipe", new_recipe_path, class: "navbar-item" %>
          </a>
          <a class="navbar-item">
            Dinner
          </a>
          <a class="navbar-item">
            Appetizers
          </a>
          <a class="navbar-item">
            Desserts
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item"><%= current_user.name %>
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-item">
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "navbar-item" %>
    </div>
    <% else %>
    <div class="navbar-end">
      <div class="navbar-item">
        <%= link_to 'Sign Up', signup_path, class: "navbar-item" %>
        <%= link_to 'Login', login_path, class: "navbar-item" %>
      </div>
    <% end %>
      </div>
    </div>
  </div>
  </div>
</nav>