  <div id="header">
    <div class="banner">
    </div>
      <nav class="navbar navbar-expand-lg">
      <a class="openbtn" onclick="openNav()"><i class="fas fa-angle-double-left"></i><span class="nav-brand">Family Bytes</span></a> 
    <% if logged_in? %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item col-md-1 mr-auto">
        <button id="new-search-button" class="btn search-recipe-button mr-auto"><i class="fas fa-search"></i></button>
          <div class="search-popover is-hidden" id="new-search-popover">
            <div class="form-group">
              <%= form_tag(recipes_search_path, method: :get) do %>
                <%= text_field_tag :keyword, params[:keyword], class: "form-control", placeholder: "Name an Ingredient" %>
              <%= submit_tag "Search", name: nil, class: "btn btn-search-button" %>
            </div>
           <% end %>
           <button id="cancel-search-popover" class="btn cancel-button">Cancel</button>
          </div>  
        </li>
      </ul>
    </div>
  </div><!-- header -->


          
     <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to 'Login', login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', signup_path, class: "nav-link" %>
        </li>
      </ul>
  
    <% end %>
        </nav>
    </div>
  </div>
  	
  <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> 
        <button href="#recipeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-title1">Recipes</button>
          <ul class="collapse list-unstyled" id="recipeSubmenu">
            <li class="submenu">   
              <a href="#">Breakfast</a>
            </li>
            <li class="submenu">
              <a href="#">Lunch</a>
            </li>
            <li class="submenu">
              <a href="#">Dinner</a>
            </li>
            <li class="submenu">
              <a href="#">Appetizers</a>
            </li>
            <li class="submenu">
              <a href="#">Sides</a>
            </li>
            <li class="submenu">
              <a href="#">Desserts</a>
            </li>
          </ul>
          <button href="#recipeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-title2">Holidays</button>
            <ul class="collapse list-unstyled" id="recipeSubmenu">
              <li class="submenu"> 
                <a href="#">Valentine's Day</a>
                  </li>
                  <li class="submenu"> 
                    <a href="#">Halloween</a>
                  </li>
                  <li class="submenu"> 
                    <a href="#">Thanksgiving</a>
                  </li>
                  <li class="submenu"> 
                    <a href="#">Christmas</a>
                  </li>
                  <li class="submenu"> 
                    <a href="#">New Year's Day</a>
                  </li>
                  <li class="submenu"> 
                    <a href="#">Birthday's</a>
                  </li>
                  <li class="submenu"> 
                    <a href="#">Christmas</a>
                  </li>
                </ul>
                <div class="addon-menu">
                  <%= link_to current_user.first_name, profile_path(@user) %>
                  <%= link_to 'Add Chapter', new_chapter_path %>
                  <%= link_to 'Add Recipe', new_recipe_path %>
                  <%= link_to 'HOME', root_path %>
                  <%= link_to 'Log Out', logout_path %> 
                </div>
              </div><!-- sidepanel -->

        
    
    <script>
	    $(document).ready(function(){
			$('#sidebarCollapse').on('click',function(){
				$('#sidebar').toggleClass('active');
			});
		});  
	</script>
    
    